<select name="colourOptions" id="colour-select" onchange="changeColour()">
  <option value="Please choose a colour"></option>
 {{#each colours}}
 <option value="{{colourId}}" style="background-color: {{colourHex}};"></option>
 {{/each}}
</select>