body {
  background-color: #ffffff;
}

.mainColour {
  background-color: #ff0000;
}

.accentColour {
background-color: #0000ff;
}

.playground {
 background-color: #800080;
}

p {
  color: #000000
}

button {
  padding: 0.5em;
}