body {
  background-color: #ffffff;
}

.container {
  width: 100vw;
  padding-right: 0;
  margin-right: 0;
  max-width: 100%;
}

.selector {
  display: flex;
  flex-direction: column;
}

.sidebar {
  margin-top: 2em;
  text-align: left;
  padding-left: 3em;
}

label {
  padding-bottom: 1em;
}

button {
  padding: 0.5em;
}

.logo {
  padding: 15px;
  font-size: 30px;
  color: white;

  }

.nav {
  display: flex;
  justify-content: space-between;
}

li {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
  color: white;
}

.header {
  /* margin-bottom: 50px; */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: black;
  width: 100%;
}

.playground {
  border-left: 1px solid black;
}

.body {
  padding-left: 50px;
}

.body div {
  padding-top: 50px;
}

.article {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  /* border: 1px solid black; */
  background-color: darkgray;
  padding: 15px;
}
.h-content {
  margin-left: 50px;
  margin-top: 15px;
  
}


.button1 {
  background-color: black;
  color: white;
  border-radius: 15px;

}

.button2{
  background-color: darkgray;
  color: black;
  border-radius: 15px;
}

.btn-container {
  padding-top: 20px;
  padding-bottom: 50px;;
}